In [6]:
import pandas as pd
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from imblearn.combine import SMOTEENN

In [5]:
pip install -U imbalanced-learn

Collecting imbalanced-learn
  Downloading imbalanced_learn-0.10.1-py3-none-any.whl (226 kB)
     -------------------------------------- 226.0/226.0 kB 4.6 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17.3 in c:\users\arpitsaxena\anaconda3\lib\site-packages (from imbalanced-learn) (1.21.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\arpitsaxena\anaconda3\lib\site-packages (from imbalanced-learn) (2.2.0)
Requirement already satisfied: scipy>=1.3.2 in c:\users\arpitsaxena\anaconda3\lib\site-packages (from imbalanced-learn) (1.9.1)
Collecting joblib>=1.1.1
  Using cached joblib-1.2.0-py3-none-any.whl (297 kB)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\arpitsaxena\anaconda3\lib\site-packages (from imbalanced-learn) (1.0.2)
Installing collected packages: joblib, imbalanced-learn
  Attempting uninstall: joblib
    Found existing installation: joblib 1.1.0
    Uninstalling joblib-1.1.0:
      Successfully uninstalled joblib-1.1.0
Successfully installed imbalanced-learn-0.10.1 joblib-1.2.0
Note: you may need to restart the kernel to use updated packages.

In [7]:
df = pd.read_csv('tel_churn.csv')

In [8]:
df.head()

,Unnamed: 0,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,0,29.85,29.85,0,1,0,0,1,1,...,0,0,1,0,1,0,0,0,0,0
1,1,0,56.95,1889.50,0,0,1,1,0,1,...,0,0,0,1,0,0,1,0,0,0
2,2,0,53.85,108.15,1,0,1,1,0,1,...,0,0,0,1,1,0,0,0,0,0
3,3,0,42.30,1840.75,0,0,1,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,4,0,70.70,151.65,1,1,0,1,0,1,...,0,0,1,0,1,0,0,0,0,0

In [9]:
df = df.drop('Unnamed: 0', axis=1)

In [10]:
df.head()

,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,29.85,29.85,0,1,0,0,1,1,0,...,0,0,1,0,1,0,0,0,0,0
1,0,56.95,1889.50,0,0,1,1,0,1,0,...,0,0,0,1,0,0,1,0,0,0
2,0,53.85,108.15,1,0,1,1,0,1,0,...,0,0,0,1,1,0,0,0,0,0
3,0,42.30,1840.75,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,1,0,0
4,0,70.70,151.65,1,1,0,1,0,1,0,...,0,0,1,0,1,0,0,0,0,0

In [11]:
#Creating X & Y variables

x = df.drop('Churn', axis=1)
print(x)

      SeniorCitizen  MonthlyCharges  TotalCharges  gender_Female  gender_Male  \
0                 0           29.85         29.85              1            0
1                 0           56.95       1889.50              0            1
2                 0           53.85        108.15              0            1
3                 0           42.30       1840.75              0            1
4                 0           70.70        151.65              1            0
...             ...             ...           ...            ...          ...
7027              0           84.80       1990.50              0            1
7028              0          103.20       7362.90              1            0
7029              0           29.60        346.45              1            0
7030              1           74.40        306.60              0            1
7031              0          105.65       6844.50              0            1

      Partner_No  Partner_Yes  Dependents_No  Dependents_Yes  PhoneService_No  \
0              0            1              1               0                1
1              1            0              1               0                0
2              1            0              1               0                0
3              1            0              1               0                1
4              1            0              1               0                0
...          ...          ...            ...             ...              ...
7027           0            1              0               1                0
7028           0            1              0               1                0
7029           0            1              0               1                1
7030           0            1              1               0                0
7031           1            0              1               0                0

      ...  PaymentMethod_Bank transfer (automatic)  \
0     ...                                        0
1     ...                                        0
2     ...                                        0
3     ...                                        1
4     ...                                        0
...   ...                                      ...
7027  ...                                        0
7028  ...                                        0
7029  ...                                        0
7030  ...                                        0
7031  ...                                        1

      PaymentMethod_Credit card (automatic)  PaymentMethod_Electronic check  \
0                                         0                               1
1                                         0                               0
2                                         0                               0
3                                         0                               0
4                                         0                               1
...                                     ...                             ...
7027                                      0                               0
7028                                      1                               0
7029                                      0                               1
7030                                      0                               0
7031                                      0                               0

      PaymentMethod_Mailed check  tenure_group_1 - 12  tenure_group_13 - 24  \
0                              0                    1                     0
1                              1                    0                     0
2                              1                    1                     0
3                              0                    0                     0
4                              0                    1                     0
...                          ...                  ...                   ...
7027                           1                    0                     1
7028                           0                    0                     0
7029                           0                    1                     0
7030                           1                    1                     0
7031                           0                    0                     0

      tenure_group_25 - 36  tenure_group_37 - 48  tenure_group_49 - 60  \
0                        0                     0                     0
1                        1                     0                     0
2                        0                     0                     0
3                        0                     1                     0
4                        0                     0                     0
...                    ...                   ...                   ...
7027                     0                     0                     0
7028                     0                     0                     0
7029                     0                     0                     0
7030                     0                     0                     0
7031                     0                     0                     0

      tenure_group_61 - 72
0                        0
1                        0
2                        0
3                        0
4                        0
...                    ...
7027                     0
7028                     1
7029                     0
7030                     0
7031                     1

[7032 rows x 50 columns]

In [12]:
x.head()

,SeniorCitizen,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,29.85,29.85,1,0,0,1,1,0,1,...,0,0,1,0,1,0,0,0,0,0
1,0,56.95,1889.50,0,1,1,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
2,0,53.85,108.15,0,1,1,0,1,0,0,...,0,0,0,1,1,0,0,0,0,0
3,0,42.30,1840.75,0,1,1,0,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,0,70.70,151.65,1,0,1,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0

In [14]:
x.shape

(7032, 50)

In [18]:
x.describe()

,SeniorCitizen,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
count,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,...,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.00000,7032.000000,7032.000000,7032.000000,7032.000000
mean,0.162400,64.798208,2283.300441,0.495307,0.504693,0.517491,0.482509,0.701507,0.298493,0.096701,...,0.219283,0.216297,0.336320,0.228100,0.309300,0.14562,0.118316,0.108362,0.118316,0.200085
std,0.368844,30.085974,2266.771362,0.500014,0.500014,0.499729,0.499729,0.457629,0.457629,0.295571,...,0.413790,0.411748,0.472483,0.419637,0.462238,0.35275,0.323005,0.310859,0.323005,0.400092
min,0.000000,18.250000,18.800000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,35.587500,401.450000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,70.350000,1397.475000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,89.862500,3794.737500,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,1.000000,0.00000,0.000000,0.000000,0.000000,0.000000
max,1.000000,118.750000,8684.800000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000

In [21]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 50 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   SeniorCitizen                            7032 non-null   int64
 1   MonthlyCharges                           7032 non-null   float64
 2   TotalCharges                             7032 non-null   float64
 3   gender_Female                            7032 non-null   int64
 4   gender_Male                              7032 non-null   int64
 5   Partner_No                               7032 non-null   int64
 6   Partner_Yes                              7032 non-null   int64
 7   Dependents_No                            7032 non-null   int64
 8   Dependents_Yes                           7032 non-null   int64
 9   PhoneService_No                          7032 non-null   int64
 10  PhoneService_Yes                         7032 non-null   int64
 11  MultipleLines_No                         7032 non-null   int64
 12  MultipleLines_No phone service           7032 non-null   int64
 13  MultipleLines_Yes                        7032 non-null   int64
 14  InternetService_DSL                      7032 non-null   int64
 15  InternetService_Fiber optic              7032 non-null   int64
 16  InternetService_No                       7032 non-null   int64
 17  OnlineSecurity_No                        7032 non-null   int64
 18  OnlineSecurity_No internet service       7032 non-null   int64
 19  OnlineSecurity_Yes                       7032 non-null   int64
 20  OnlineBackup_No                          7032 non-null   int64
 21  OnlineBackup_No internet service         7032 non-null   int64
 22  OnlineBackup_Yes                         7032 non-null   int64
 23  DeviceProtection_No                      7032 non-null   int64
 24  DeviceProtection_No internet service     7032 non-null   int64
 25  DeviceProtection_Yes                     7032 non-null   int64
 26  TechSupport_No                           7032 non-null   int64
 27  TechSupport_No internet service          7032 non-null   int64
 28  TechSupport_Yes                          7032 non-null   int64
 29  StreamingTV_No                           7032 non-null   int64
 30  StreamingTV_No internet service          7032 non-null   int64
 31  StreamingTV_Yes                          7032 non-null   int64
 32  StreamingMovies_No                       7032 non-null   int64
 33  StreamingMovies_No internet service      7032 non-null   int64
 34  StreamingMovies_Yes                      7032 non-null   int64
 35  Contract_Month-to-month                  7032 non-null   int64
 36  Contract_One year                        7032 non-null   int64
 37  Contract_Two year                        7032 non-null   int64
 38  PaperlessBilling_No                      7032 non-null   int64
 39  PaperlessBilling_Yes                     7032 non-null   int64
 40  PaymentMethod_Bank transfer (automatic)  7032 non-null   int64
 41  PaymentMethod_Credit card (automatic)    7032 non-null   int64
 42  PaymentMethod_Electronic check           7032 non-null   int64
 43  PaymentMethod_Mailed check               7032 non-null   int64
 44  tenure_group_1 - 12                      7032 non-null   int64
 45  tenure_group_13 - 24                     7032 non-null   int64
 46  tenure_group_25 - 36                     7032 non-null   int64
 47  tenure_group_37 - 48                     7032 non-null   int64
 48  tenure_group_49 - 60                     7032 non-null   int64
 49  tenure_group_61 - 72                     7032 non-null   int64
dtypes: float64(2), int64(48)
memory usage: 2.7 MB

In [22]:
y = df['Churn']

In [23]:
y

0       0
1       0
2       1
3       0
4       1
       ..
7027    0
7028    0
7029    0
7030    1
7031    0
Name: Churn, Length: 7032, dtype: int64

In [25]:
y.shape

(7032,)

In [46]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2)

# Decision Tree Classifier

In [29]:
model_dt = DecisionTreeClassifier(criterion = 'gini', random_state=100, max_depth=6, min_samples_leaf = 8)

In [30]:
model_dt.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [33]:
y_pred = model_dt.predict(x_test)

In [34]:
y_pred

array([1, 1, 0, ..., 1, 1, 0], dtype=int64)

In [35]:
model_dt.score(x_test, y_pred)

1.0

In [37]:
print(classification_report(y_test, y_pred, labels= [0,1]))

              precision    recall  f1-score   support

           0       0.82      0.87      0.85      1024
           1       0.59      0.49      0.54       383

    accuracy                           0.77      1407
   macro avg       0.71      0.68      0.69      1407
weighted avg       0.76      0.77      0.76      1407

In [38]:
print(confusion_matrix(y_test, y_pred))

[[893 131]
 [194 189]]

In [43]:
pip install imbalanced-learn

Requirement already satisfied: imbalanced-learn in c:\users\arpitsaxena\anaconda3\lib\site-packages (0.10.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\arpitsaxena\anaconda3\lib\site-packages (from imbalanced-learn) (1.2.0)
Requirement already satisfied: scipy>=1.3.2 in c:\users\arpitsaxena\anaconda3\lib\site-packages (from imbalanced-learn) (1.9.1)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\arpitsaxena\anaconda3\lib\site-packages (from imbalanced-learn) (1.0.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\arpitsaxena\anaconda3\lib\site-packages (from imbalanced-learn) (1.21.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\arpitsaxena\anaconda3\lib\site-packages (from imbalanced-learn) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [47]:
sm = SMOTEENN()
X_resampled, y_resampled = sm.fit_resample(x,y)

In [48]:
xr_train, xr_test, yr_train, yr_test = train_test_split(X_resampled,y_resampled, test_size=0.2)

In [49]:
model_dt_smote=DecisionTreeClassifier(criterion = 'gini', random_state=100, max_depth=6, min_samples_leaf = 8)

In [51]:
model_dt_smote.fit(xr_train, yr_train)

DecisionTreeClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [53]:
y_pred_smote=model_dt_smote.predict(xr_test)

In [55]:
y_pred_smote

array([0, 0, 1, ..., 0, 0, 0], dtype=int64)

In [57]:
print(classification_report(yr_test, y_pred_smote, labels=[0,1]))

              precision    recall  f1-score   support

           0       0.93      0.93      0.93       513
           1       0.94      0.94      0.94       663

    accuracy                           0.94      1176
   macro avg       0.94      0.94      0.94      1176
weighted avg       0.94      0.94      0.94      1176

In [58]:
confusion_matrix(yr_test,y_pred_smote)

array([[475,  38],
       [ 37, 626]], dtype=int64)

# Random Forest Classifier

In [59]:
from sklearn.ensemble import RandomForestClassifier

In [60]:
model_rf = RandomForestClassifier(n_estimators=100, criterion='gini',random_state=100, max_depth=6, min_samples_leaf=8)
model_rf.fit(x_train, y_train)
y_pred_rf = model_rf.predict(x_test)

In [62]:
print(classification_report(y_test, y_pred_rf, labels = [0,1]))

              precision    recall  f1-score   support

           0       0.82      0.92      0.87      1028
           1       0.68      0.46      0.55       379

    accuracy                           0.80      1407
   macro avg       0.75      0.69      0.71      1407
weighted avg       0.79      0.80      0.78      1407

In [64]:
sm = SMOTEENN()
X_resampled, y_resampled = sm.fit_resample(x,y)

In [65]:
xr_train, xr_test, yr_train, yr_test = train_test_split(X_resampled, y_resampled, test_size=0.2)

In [66]:
model_smote_rf = RandomForestClassifier(n_estimators=100, criterion='gini', random_state=100, max_depth=6, min_samples_leaf=8)

In [67]:
model_smote_rf.fit(xr_train,yr_train)

RandomForestClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [68]:
y_pred_smote_rf= model_smote_rf.predict(xr_test)

In [69]:
print(classification_report(yr_test,y_pred_smote_rf, labels = [0,1]))

              precision    recall  f1-score   support

           0       0.97      0.89      0.93       528
           1       0.92      0.98      0.95       642

    accuracy                           0.94      1170
   macro avg       0.94      0.93      0.94      1170
weighted avg       0.94      0.94      0.94      1170

In [70]:
print(confusion_matrix(yr_test, y_pred_smote_rf))

[[470  58]
 [ 13 629]]

In [75]:
import pickle

In [76]:
filename = 'Telecom_Churn_Prediction_Model_RF.sav'

In [78]:
pickle.dump(model_smote_rf, open(filename,'wb'))

In [81]:
load_model = pickle.load(open(filename, 'rb'))

In [82]:
load_model.score(xr_test, yr_test)

0.9393162393162393